################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PASSForm-BPS/bin
/PASSForm-BPS/obj
